
body {
    background-color: black;
    width: 100%;
    margin:0;
}

.post {
    background-color: white;
    width: 400px;
    margin: auto;
}

.post-header {
    height: 50px;    
    padding: 5px 5px 0px 5px;
}

.header-logo {
    position: relative;
    top: 6px;
}

.header-text {
    width: 90%;
}

.post-header {    
    display: flex;
}

#header-text1,
#header-text2 {
    margin: 0 0 0 6px;
    font-size: 12px;
    position: relative;
    top: 6px;

}

#header-text1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}
#header-text2 {
    font-family: Arial, Helvetica, sans-serif;
}

.header-options {
    position: relative;
    top: 5px;

}

#post-image {
	width: 400px;
	height: 300px;
    object-fit: cover;
}

.post-text-wrapper{
    margin: 10px;
}

.post-icons {
    display: flex;
}

#like,
#comment,
#share,
#bookmark {
    display: flex;
    padding: 3px;
    margin: 0px;
}

#share{
    width: 70%;
}

.post-likes,
.post-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.post-text {
    padding: 0px 0px 10px 0px;  

}